<main>
    <!--Account stuff-->
    <button onclick="location.href='/login'" type="submit">Login</button>   
    <button onclick="location.href='/register'" type="submit">Register</button>
    <p>
        Welcome! Search for any song that you'd like to know more information about. To save any songs that you'd like please log in or sign up for an account.
    </p>
    <section id="getStuff">
        <form method="POST" id="searching">
            <label for="searchItem">Search:</label>
            <input type="text" id="searchItem"/>
            <label for="specificField">Field:</label>
            <select id="specificField">
                <option>All</option>
                <option>Title</option>
                <option>Artist</option>
                <option>Lyrics</option>
                <option>Genre</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </section>
    <section id="results">
        <h1>Results</h1>
        <ul id="titles">
            {{#each songsList}}
                <li><a href="/{{songsList.id}}">Title: {{songsList.title}}</a></li>
            <!--null/no results-->
            {{else}}
                <li><p>No items match the criteria.</p></li>
            {{/each}}
        </ul>
    </section>
</main>