<main>
    <!--Account stuff-->
    <button onclick="location.href='/login'" type="submit">Login</button>   
    <button onclick="location.href='/register'" type="submit">Register</button>
    <p>
        Welcome! Search for any song that you'd like to know more information about. To save any songs that you'd like please log in or sign up for an account.
    </p>
    <section id="getStuff">
        <h1>Search:</h1>
        <form method="POST" id="searching">
            <label for="searchItem">Search:</label>
            <input type="text" id="searchItem"/>
            <label for="specificField">Field:</label>
            <select id="specificField">
                <option>All</option>
                <option>Title</option>
                <option>Artist</option>
                <option>Lyrics</option>
                <option>Genre</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </section>
    <section id="results">
        <h2>Results</h2>
        <div id="titles">
            {{#each songsList}}
                <a href="/song/{{songsList.id}}">Title: {{songsList.title}}</a>
            <!--null/no results-->
            {{else}}
                <p>No items match the criteria.</p>
            {{/each}}
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/public/js/search.js"></script>
</main>