<div class = 'header'>
    <header>
        <h1>Please sign in.</h1>
    </header>
</div>
<div class='container'>
    <p class = 'err-message'>{{message}}</p>
    <form id='form' action='/login' onsubmit='return checkInput()' method='post'>
        <div >
            <label for='username'>Username <abbr title="Required", style="color:red;">*</abbr></label>
            <input type='text' id='username' name='username' placeholder='Enter Username'>
        </div>
        <div>
            <label for='password'>Password <abbr title="Required", style="color:red;">*</abbr></label>
            <input type='password' id='password' name='password' placeholder='Enter Password'>
        </div>
        <button type='submit'>Sign in</button>
    </form>
    <div>
        <br>
        <p>Don't have an account? <a href="/registration">Try it for Free now!</a></p>
        <p>Don't have time right now? No worries! Go back to the <a href="/songs">Homepage</a>.</p>
        <p>Need help? Email us at <a href="mailto:afasolia@stevens.edu">info@msrs.com</a>.</p>
    </div>
</div>
<script src="/public/js/formValidation.js"></script>