<div class = 'header'>
    <header>
        <h1>Registration Successful!</h1>
    </header>
</div>
<h2>Thank you. You have been successfully registered.</h2>
<p>Please proceed to the <a href="http://localhost:3000/">Login Page</a> to sing in.</p>