* {
    box-sizing: border-box;
  }
html, body{
    font-family: "Helvetica";
    font-size: 11pt;
}
/* Center form and add border*/
form {
    border: 3px solid #f1f1f1;
    padding: 20px;
}
/* Add padding to containers */
.container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
/* Set a style for header */
.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
    text-align: center;
}
/* Set a style for all buttons with class="button" */
.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/* Full-width inputs */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Error message */
.err-message {
    color: red;
    font-weight:bold;
}
/* Page footer */
.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
    height: 60px;  /* footer height */
    padding-top: 20px;
    display: block;
    margin-top: 20px; /* space between content and footer */
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
abbr {
    color: red;
}
li {
    list-style-type: none;
}
/* Side Navigation */
.sideNavigation {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 95px;
    left: 10px;
    background: lightgray;
    overflow-x: hidden;
    padding: 8px;
}
.sideNavigation a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: black;
    display: block;
}
.searchContainer, .favorites, .userDetails, .history {
    margin-left: 210px; /* Same width as the sideNavigation + left position in px */
    margin-right: 210px;
    padding: 0px 10px;
}
.sideNavigation a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sideNavigation a:hover:not(.active) {
    background-color: #555;
    color: white;
  }