<div class = 'header'>
    <header>
        <h1>Favorites</h1>
    </header>
</div>
<!--Side Navigation-->
<div class="sideNavigation">
    <a href="/account">My Account</a>
    <a class = "active" href="/account/favorites">Favorites</a>
    <a href="/account/history">History</a>
    <a href="/recommendations">Recommendations</a>
    <a href="/user">Profile</a>
    <a href="/settings">Settings</a>
    <a href="/account/logout">Logout</a>
</div>
<!--Will List Favorites here. Work is in progress for this section.-->
<div class="favorites">
    <p>Your favorites list</p>
    <ul>
        <li>Song 1</li>
        <li>Song 2</li>
        <li>Song 3</li>
        <li>Song 4</li>
        <li>Song 5</li>
        <li>Song 6</li>
        <li>Song 7</li>
        <li>Song 8</li>
        <li>Song 9</li>
        <li>Song 10</li>
    </ul>
</div>
