<div class = 'header'>
    <header>
        <h1>Favorites</h1>
    </header>
</div>
<!--Side Navigation-->
<div class="sideNavigation">
    <a href="/account">My Account</a>
    <a class = "active" href="/account/favorites">Favorites</a>
    <a href="/account/history">History</a>
    <a href="/recommendations">Recommendations</a>
    <a href="/account/user">Profile</a>
    <a href="/settings">Settings</a>
    <a href="/account/logout">Logout</a>
</div>
<!--Displays user's Favorites list here.-->
<div class="favorites">
   <h2>Your Favorites List</h2>
   {{#if result}}
    <ul>
        {{#each songList}}
            <li><h3>Title: {{this.song_title}}</h3></li> <img src="{{this.song_albumart}}" alt="{{this.song_title}}">
        {{/each}}
    {{else}}
        <li>No item in favorites.</li>
    </ul>
  {{/if}}
</div>
