<div class = 'header'>
    <header>
        <h1>History</h1>
    </header>
</div>
<!--Side Navigation-->
<div class="sideNavigation">
    <a href="/account">My Account</a>
    <a href="/account/favorites">Favorites</a>
    <a class = "active" href="/account/history">History</a>
    <a href="/recommendations">Recommendations</a>
    <a href="/account/user">Profile</a>
    <a href="/settings">Settings</a>
    <a href="/account/logout">Logout</a>
</div>
<!--Displays Users search history here.-->
<div class="history">
    <h2>Your search History</h2>
    {{#if result}}
    <ul>
        {{#each songList}}
            <li><h3>Title: {{this.song_title}}</h3></li> <img src="{{this.song_albumart}}" alt="{{this.song_title}}">
        {{/each}}
    {{else}}
        <li>No item in search history.</li>
    </ul>
  {{/if}}
</div>
