<div class="header">
    <h1>Music Search and Recommendation System</h1>
</div>
<div class="searchContainer">
    <!--Account stuff-->
    <button onclick="location.href='/login'" type="submit">Login</button>   
    <button onclick="location.href='/registration'" type="submit">Register</button>
    <p>
        Welcome! Search for any song that you'd like to know more information about. To save any songs that you'd like please log in or sign up for an account.
    </p>
    <!--Search bar-->
    <section id="getStuff">
        <p>You can search by the items below, or enter "All" to check any field</p>
        <ul>
            <li>All</li>
            <li>Title</li>
            <li>Artist</li>
            <li>Lyrics</li>
            <li>Genre</li>
        </ul>
    <h2>Search</h2>
        <form id="searching" method="POST" action='/'>
            <label for="searchItem">Search:</label>
                <input type="text" name="searchItem" id="searchItem"/>
            <label for="specificField">Field:</label>
                <input type="text" name="specificField" id="specificField"/>
            <button type="submit" class="button">Submit</button>
        </form>
    </section>
    <section id="results">
        <h2>Results</h2>
        <div id="resultList">
            
        </div>
    </section>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/search.js"></script>
