<div class = 'header'>
    <header>
        <h1>You've successfully logged out!</h1>
    </header>
</div>
<p>Visit our website <a href="/">Music Search and Recommendation System</a> to search for latest songs.</p>
